<div class="panel">
  <div class="panel-heading">
    Basic Details
  </div>
  <div class="attributes">
    <div class="attribute">
      <div class="field"> Picture </div>
      <div class="value">
        <div class="profile-picture-preview">
          <%= cl_image_tag(profile_picture_id(form.object.profile_picture), :width => 150, :crop => "fit") %>
        </div>
        <%= cl_image_upload_tag(:profile_picture, :crop => :limit, :width => 1000, :height => 1000) %>
      </div>
    </div>
    <div class="attribute">
      <div class="field"> Emp ID <span class="required"> * </span> </div>
      <div class="value"> <%= form.number_field :emp_id, placeholder: 'Employee ID' %> </div>
    </div>

    <div class="attribute">
      <div class="field"> Display Name <span class="required"> * </span> </div>
      <div class="value"> <%= form.text_field :display_name, placeholder: 'Display Name' %> </div>
    </div>

    <div class="attribute">
      <div class="field"> First Name <span class="required"> * </span> </div>
      <div class="value"> <%= form.text_field :first_name, placeholder: 'First Name' %> </div>
    </div>

    <div class="attribute">
      <div class="field"> Last Name </div>
      <div class="value"> <%= form.text_field :last_name, placeholder: 'Last Name' %> </div>
    </div>

    <div class="attribute">
      <div class="field"> Date of birth <span class="required"> * </span> </div>
      <div class="value"> <%= form.date_field :dob, max: Date.yesterday %> </div>
    </div>

    <div class="attribute">
      <div class="field"> Gender <span class="required"> * </span> </div>
      <div class="value">
        <%= form.radio_button :gender, 'male', :checked => true %> Male &emsp;
        <%= form.radio_button :gender, 'female' %> Female &emsp;
        <%= form.radio_button :gender, 'others' %> Others
      </div>
    </div>

    <div class="attribute">
      <div class="field"> Batch <span class="required"> * </span> </div>
      <div class="value"> <%= form.select :batch_id, @batches.collect { |b| [b.name, b.id]}, {} %> </div>
    </div>
  </div>
</div>