<div class="pic-and-names">
  <div class="profile-picture">
    <%= cl_image_tag(@intern.emp_id, :default_image => "default.png") %>
  </div>
  <div class="display-name" title='Display name'>
    <% unless @intern.present_in_tw %>
      <span class='fa fa-ban not-in-tw' title='Intern is not in TW now'></span>
    <% end %>
    <%= @intern.display_name %>
  </div>
  <div class="full-name">
    <span title='First name'> <%= @intern.first_name %> </span>
    <span title='Last name'> <%= @intern.last_name %> </span>
  </div>

  <div class="actions">
    <div class="action">
      <%= link_to(edit_intern_path(@intern), title: 'Edit intern details') do %>
        <span class="fa fa-edit fa-lg"/>
      <% end %>
    </div>
    <div class="action">
      <%= link_to(@intern, method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete intern') do %>
        <span class="fa fa-trash fa-lg"/>
      <% end %>
    </div>

    <div class="action">
      <%= link_to(intern_path(@intern, intern: {present_in_tw: !@intern.present_in_tw}), method: :patch) do %>
        <% if @intern.present_in_tw %>
          <span class='fa fa-ban fa-lg' title='Mark intern as not in TW'></span>
        <% else %>
          <span class='fa fa-undo fa-lg' title='Undo mark intern as not in TW'></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>