<%= form_with model: @intern, local: true do |form| %>

  <% if @intern != nil && @intern.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@intern.errors.count, "error") %>
      </h2>
      <ul>
        <% @intern.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :display_name %><br>
    <%= form.text_field :display_name %>
  </p>

  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :batch %><br>
    <%= form.number_field :batch,  min: 0 %>
  </p>

  <%= form.fields_for :github do |github_fields| %>
    <p><b> Github: </b></p>
    <%= github_fields.label :username %><br>
    <%= github_fields.text_field :username %>
  <% end %>

  <%= form.fields_for :slack do |slack_fields| %>
    <p><b> Slack: </b></p>
    <%= slack_fields.label :username %><br>
    <%= slack_fields.text_field :username %>
  <% end %>

  <%= form.fields_for :dropbox do |dropbox_fields| %>
    <p><b> Dropbox: </b></p>
    <%= dropbox_fields.label :username %><br>
    <%= dropbox_fields.text_field :username %>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>