<div class="interns">
  <table>
    <tr>
      <th>Emp ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Emails</th>
      <th>Phone</th>
      <th>Batch</th>
      <th>Actions</th>
    </tr>

    <% @interns.each do |intern| %>
      <tr>
        <td><%= intern.emp_id %></td>
        <td class="name">
          <div class="display_name"><%= intern.display_name %></div>
          <div class="sub_names">
            <span><%= intern.first_name %></span>
            <span><%= intern.last_name %></span>
          </div>
        </td>
        <td>
          <span class="fa fa-<%=gender_icon intern.gender%> fa-lg"></span>
        </td>
        <td><%= intern.dob.strftime('%d %b %Y') %></td>
        <td class="emails">
          <div><%= intern.emails[0].address %></div>
          <div><%= intern.emails[1].address %></div>
        </td>
        <td>coming soon</td>
        <td><%= intern.batch %></td>
        <td>
          <%= link_to(intern) do %>
            <span class="fa fa-eye"/>
          <% end %>

          <%= link_to(intern, method: :delete) do %>
            <span class="fa fa-trash"/>
          <% end %>

          <%= link_to(edit_intern_path(intern)) do %>
            <span class="fa fa-edit"/>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>