<div class="interns">
  <table class="list-table">
    <tr>
      <th></th>
      <th></th>
      <th>Emp ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Emails</th>
      <th>Phone</th>
      <th>Batch</th>
      <th>Actions</th>
      <th></th>
    </tr>

    <% @interns.each do |intern| %>
      <tr>
        <% if intern.present_in_tw %>
          <td></td>
        <% else %>
          <td class="not-in-tw" title="Intern is not in TW now">
            <span class='fa fa-ban not-in-tw'></span>
          </td>
        <% end %>

        <td class="profile-picture-thumbnail">
          <%= cl_image_tag(profile_picture_id(intern.profile_picture),
                           :height => 70,
                           :width => 70,
                           :radius=>"max",
                           :gravity=>"face",
                           :crop=>"thumb",
                           :zoom=>0.6) %>
        </td>

        <td class="emp-id">
          <%= intern.emp_id %>
        </td>
        <td class="name">
          <div class="display_name" title="Display name"><%= intern.display_name %></div>
          <div class="sub_names">
            <span title="First name"><%= intern.first_name %></span>
            <span title="Last name"><%= intern.last_name %></span>
          </div>
        </td>
        <td><%= intern.gender.humanize %></td>
        <td><%= intern.dob.strftime('%d %b %Y') %></td>
        <td class="emails">
          <div><%= intern.emails[0].address %></div>
          <div><%= intern.emails[1].address %></div>
        </td>
        <td><%= intern.phone_number %></td>
        <td><%= intern.batch.name %></td>
        <td>
          <%= link_to(intern, title: 'View intern details') do %>
            <span class="fa fa-eye"/>
          <% end %>

          <%= link_to(edit_intern_path(intern), title: 'Edit intern details') do %>
            <span class="fa fa-edit"/>
          <% end %>

          <%= link_to(intern, method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete intern') do %>
            <span class="fa fa-trash"/>
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>