<div class="container">
  <div class="heading">
    <h2 class="text-center">
      Bulk import results <br>
      Import <%= @results[:failed] > 0 ? 'Failed' : 'Succeeded' %>
    </h2>
  </div>

  <div class="white-page">
    <div class="panel">
      <div class="panel-heading"> Summary </div>
      <div class="attributes">
        <div class="row">
          <div class="col-md-6">
            <div class="attribute">
              <div class="field"> Filename: </div>
              <div class="value"> <%= @results[:filename] %> </div>
            </div>
            <div class="attribute">
              <div class="field"> No of rows success: </div>
              <div class="value"><%= @results[:success] %></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="attribute">
              <div class="field"> Total no of rows: </div>
              <div class="value"><%= @results[:total] %></div>
            </div>
            <div class="attribute">
              <div class="field"> No of rows failed: </div>
              <div class="value"><%= @results[:failed] %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="white-page">
    <div class="panel">
      <div class="panel-heading"> Errors </div>
      <div>
        <% @results[:invalid_rows].each do |row| %>
          <div class="csv">
            <div class="csv_headers"><%= row[:data].headers.join(',') %></div>
            <div class="csv_data"><%= row[:data].to_csv %></div>
          </div>

          <ul>
            <% row[:errors].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>

        <% end %>
      </div>
    </div>
  </div>
</div>