<p>
  <strong>Display Name:</strong>
  <%= @intern.display_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @intern.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @intern.last_name %>
</p>

<p>
  <strong>Email(s): <%= @intern.emails.size %></strong>
  <% @intern.emails.each do |email| %>
    <div>
      <span> <%= email.category %> </span> - <span> <%= email.address %> </span>
    </div>
  <% end %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @intern.batch %>
</p>

<% if @intern.github != nil %>
  <p>
    <strong>Github Information</strong>
    <div> <span> Username </span> - <span> <%= @intern.github.username %> </span> </div>
  </p>
<% end %>


<% if @intern.slack != nil %>
  <p>
    <strong>Slack Information</strong>
    <div> <span> Username </span> - <span> <%= @intern.slack.username %> </span> </div>
  </p>
<% end %>

<% if @intern.slack != nil %>
  <p>
    <strong>Dropbox Information</strong>
    <div> <span> Username </span> - <span> <%= @intern.dropbox.username %> </span> </div>
  </p>
<% end %>