<div class="container">
  <div class="heading">
    <h2 class="text-center">
      <span class="intern-name"><%= @intern.display_name %></span> 's Profile
    </h2>
  </div>

  <div class="intern row">
    <div class="profile col-md-3">
      <%= render partial: '/interns/intern/profile' %>
      <hr>
      <%= render partial: '/interns/intern/basic_details' %>
    </div>
    <div class="other-details col-md-9">
      <%= render partial: '/interns/intern/contact_details' %>

      <%= render partial: '/interns/intern/github_details' %>

      <%= render partial: '/interns/intern/slack_details' %>

      <%= render partial: '/interns/intern/dropbox_details' %>

    </div>
  </div>
</div>