<tr>
  <td><%= batch.name %></td>
  <td><%= batch.start_date %></td>
  <td><%= batch.end_date %></td>
  <td><%= batch.email.present? ? batch.email.address : '-' %></td>
  <td><%= batch.slack.present? ? batch.slack.username : '-' %></td>
  <td><%= batch.intern.size %></td>
  <td>
    <%= link_to(batch, title: 'View all interns in this batch') do %>
      <span class="fa fa-eye"></span>
    <% end %>

    <%= link_to(batches_path(edit_id: batch.id), title: 'Edit batch details') do %>
      <span class="fa fa-edit"></span>
    <% end %>

    <% if batch.intern.size <= 0 %>
      <%= link_to(batch, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete batch') do %>
        <span class="fa fa-trash"></span>
      <% end %>
    <% end %>
  </td>
</tr>