<div class="container">
  <div class="heading">
    <h2 class="text-center"> Batches </h2>
  </div>

  <% if @batch != nil && @batch.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= pluralize(@batch.errors.count, "error") %>
      </h2>
      <ul>
        <% @batch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form_with model: @batch, local: true do |form| %>
      <table class="list-table">
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Intern count</th>
          <th>Actions</th>
        </tr>

        <%= render 'form', form: form %>

        <% @batches != nil && @batches.each do |batch| %>
          <%= render 'row', batch: batch %>
        <% end %>

      </table>
    <% end %>
  </div>
</div>